.settings {
  display: flex;
}

.settings-wrapper {
  flex: 9;
  padding: 20px;
}

.settings-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-update-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(86, 71, 71);
}

.settings-delete-title {
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.settings-form {
  display: flex;
  flex-direction: column;
}

.settings-profile-pic-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
} 

.settings-profile-pic-wrapper > img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.settings-profile-pic-icon {
  width: 25px;
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  color: white;
  background-color: rgb(62, 58, 58);
  cursor: pointer;
}

.settings-submit-btn:focus {
  outline-style: none;
}

.setting-form > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsPPInput {
  width: 30%;
}

.settings-form > input {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.settings-submit-btn {
  align-self: center;
  width: 150px;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: rgb(30, 129, 129);
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-submit-btn:hover {
  background-color: rgb(1, 114, 114);
}