.post {
  width: 385px;
  margin: 0 25px 60px 25px;
  display: flex;
  flex-direction: column;
}

.post-img {
  width: 385px;
  height: 290px; 
  object-fit: cover;
}

.post-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.post-categories {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #be9656;
  line-height: 19px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.post-category {
  padding-left: 10px;
}

.post-title {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
}

.post-date {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  margin-top: 10px;
}

.post-description {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}